
    <div class="container">
       <br>
       <h3> Contact</h3>
       
       <p>Heeft u een vraag of wilt u contact met ons opnemen? <br><br>
       Bel ons op <i class="tiny material-icons">phone</i>  06 24515623<br>
       Of stuur ons hieronder een mail!</p>
       
       
</p>
    
 <br>
<div>
    <form action="model/mail.php" method="post">
      <i class="material-icons left">account_circle</i>
        Voornaam en Achternaam: <input type="text" name="name" required>
        <br>
        
         <i class="material-icons left">subject</i>
         Onderwerp: <input type="text" name="subject" required>
           <i class="material-icons left">message</i>
         Bericht: <input type="text" name="message" required>
        <i class="material-icons left">email</i>
         E-mail: <input type="email" name="to" required>

		 <button class="btn waves-effect Red" type="submit" name="action">Verzenden
        <i class="material-icons right">email</i>
    </button>
    
    </form>
    <br><br><br>
</div>
  </div>

