<main>
    <div class="parallax-container">
        <div class="parallax"><img src="images/placeholder1.jpg"></div>
    </div>
    <div class="section red darken-4">
        <div class="row container">
            <h1 class="center">Lorem ipsum.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scaevola tribunus plebis ferret ad plebem vellentne de ea re quaeri. Quam tu ponis in verbis, ego positam in re putabam. Duo Reges: constructio interrete. Tu vero, inquam, ducas licet,
                si sequetur; Summus dolor plures dies manere non potest? Hoc non est positum in nostra actione. Quae ista amicitia est? Bonum negas esse divitias, praeposìtum esse dicis? Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster?</p>
        </div>

        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m4">
                        <h5 class="center">Lorem ipsum?</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scaevola tribunus plebis ferret ad plebem vellentne de ea re quaeri. Quam tu ponis in verbis, ego positam in re putabam. Duo Reges: constructio interrete. Tu vero, inquam,
                            ducas licet, si sequetur; Summus dolor plures dies manere non potest? Hoc non est positum in nostra actione. Quae ista amicitia est? Bonum negas esse divitias, praeposìtum esse dicis? Tum Piso: Quoniam igitur aliquid omnes,
                            quid Lucius noster?
                        </p>
                    </div>

                    <div class="row">
                        <div class="col s12 m4">
                            <h5 class="center">Lorem ipsum?</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scaevola tribunus plebis ferret ad plebem vellentne de ea re quaeri. Quam tu ponis in verbis, ego positam in re putabam. Duo Reges: constructio interrete. Tu vero, inquam,
                                ducas licet, si sequetur; Summus dolor plures dies manere non potest? Hoc non est positum in nostra actione. Quae ista amicitia est? Bonum negas esse divitias, praeposìtum esse dicis? Tum Piso: Quoniam igitur aliquid omnes,
                                quid Lucius noster?
                            </p>
                        </div>

                        <div class="row">
                            <div class="col s12 m4">
                                <h5 class="center">Lorem ipsum?</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scaevola tribunus plebis ferret ad plebem vellentne de ea re quaeri. Quam tu ponis in verbis, ego positam in re putabam. Duo Reges: constructio interrete. Tu vero,
                                    inquam, ducas licet, si sequetur; Summus dolor plures dies manere non potest? Hoc non est positum in nostra actione. Quae ista amicitia est? Bonum negas esse divitias, praeposìtum esse dicis? Tum Piso: Quoniam igitur
                                    aliquid omnes, quid Lucius noster?
                                </p>
                            </div>

                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
</main>
