<main>
    <div class="parallax-container">
        <div class="parallax"><img src="images/placeholder1.jpg"></div>
    </div>
    <div class="section red darken-4">
        <div class="row container">
            <h2 class="header">Parallax</h2>
            <div>
                <span class="bottom"></span>
            </div>
            <a class="waves-effect red btn">CONTENT BUTTON</a>
            <p class="white-text">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
            <div>

                <span class="bottom"></span>

            </div>
        </div>
    </div>


    <div class="parallax-container">
        <div class="parallax"><img src="images/appie.PNG"></div>
    </div>
    <div class="section red darken-4">
        <div class="row container">
            <h2 class="header">Abdelkarim Ouzzine</h2>
            <a class="waves-effect red btn">CONTENT BUTTON</a>
            <p class="white-text">Mijn naam is Abdelkarim Ouzzine en ik ben een front en back-end developer. Ik specializeer in front-end development en Node.js. Bij mij gaat het om een mobile-first approach. Ik bouw mijn stijlen zo dat responsive op nummer 1 staat, zodat
                de site op elke device goed kan worden weergegeven. Ik ben samen met Stijn Olthof de front en back-end developer van de Sauna webapp. Sauna is gebouwd in Node.js en maakt gebruik van Passport, Express en de Steam Web-API. Je kunt met je
                Steam account inloggen waardoor u een willekeurige aanrading krijgt van games die je nog niet gespeeld hebt.</p>
        </div>
    </div>


    <div class="parallax-container">z
        <div class="parallax"><img src="images/jauro.jpg"></div>
    </div>
    <div class="section red darken-4">
        <div class="row container">
            <h2 class="header">Youri Stil</h2>
            <a href="http://18488.hosts.ma-cloud.nl/webshop/index.html" class="waves-effect red btn">CONTENT BUTTON</a>
            <p class="white-text">Hallo, ik ben youri. Ik ben 18 jaar oud en ik studeer Interactief Vormgeven. Mijn interreses vari&euml;ren per week de ene week maak ik bijvoorbeeld games en de andere maak ik bijvoorbeeld muziek of animaties. Ik ben altijd aanwezig op mijn super toffe opleiding waar ik heb geleerd hoe ik websites moet maken. Ik heb vooral vooral verstand van front end (dus alles wat je kan zien op een website). <br> <br> Hier boven zie je een opdracht die ik voor school heb gemaakt!! Een werkend design van een webshop.</p>
        </div>
    </div>


    <div class="parallax-container">
        <div class="parallax"><img src="images/peteriscool.png"></div>
    </div>
    <div class="section red darken-4">
        <div class="row container">
            <h2 class="header">Peter Overweg</h2>
            <a href="https://drive.google.com/file/d/0B-NsoKIwkKRKUzlPZ2hoNnpZM0k/view" class="waves-effect red btn">Download hier het spel</a>
            <p class="white-text">
                Mijn naam is Peter Overweg, ik ben 20 jaar oud en studeer Interactief Vormgeven, ik vind het leuk om websites te maken en dingen te animeren. Ik ben goed met Photoshop en vind het leuk om een nieuwe uitdaging aan te gaan. <br> Hierboven
                zie je een screenshot uit een game dat ik samen met een Youri (de gozer boven mij) heb gemaakt, ik heb al het design en animatie werk gedaan. </p>
        </div>
    </div>


    <div class="parallax-container">
        <div class="parallax"><img src="images/stijn.PNG"></div>
    </div>
    <div class="section red darken-4">
        <div class="row container">
            <h2 class="header">Stijn Olthof</h2>
            <a class="waves-effect red btn" href="http://18662.hosts.ma-cloud.nl/bewijzenmap/leerjaar2/pireode1/bap/proj/myband/?page=home">CONTENT BUTTON</a>
            <p class="white-text">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
    </div>

    </div>
</main>

