
    <div class="parallax-container">
        <div class="parallax"><img src="images/placeholder1.jpg"></div>
    </div>
    <div class="section red darken-4">
        <div class="row container">
            <h2 class="header">Parallax</h2>
            <a class="waves-effect red btn">CONTENT BUTTON</a>
            <p class="white-text">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
           <div>
    
      <span class="bottom"></span>
    
  </div>
        </div>
    </div>


    <div class="parallax-container">
        <div class="parallax"><img src="images/placeholder2.jpg"></div>
    </div>
    <div class="section red darken-4">
        <div class="row container">
            <h2 class="header">Parallax</h2>
            <a class="waves-effect red btn">CONTENT BUTTON</a>
            <p class="white-text">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
    </div>

    
    <div class="parallax-container">
        <div class="parallax"><img src="images/placeholder3.jpg"></div>
    </div>
    <div class="section red darken-4">
        <div class="row container">
            <h2 class="header">Parallax</h2>
            <a class="waves-effect red btn">CONTENT BUTTON</a>
            <p class="white-text">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
    </div>


    <div class="parallax-container">
        <div class="parallax"><img src="images/peteriscool.png"></div>
    </div>
    <div class="section red darken-4">
        <div class="row container">
            <h2 class="header">Peter Overweg</h2>
            <a href="https://drive.google.com/file/d/0B-NsoKIwkKRKUzlPZ2hoNnpZM0k/view" class="waves-effect red btn">Download hier het spel</a>
            <p class="white-text">Ik heb samen met een klasgenoot een videogame gemaakt, ik heb al het design en animatie werk gedaan. </p>
        </div>
    </div>


    <div class="parallax-container">
        <div class="parallax"><img src="images/placeholder3.jpg"></div>
    </div>
    <div class="section red darken-4">
        <div class="row container">
            <h2 class="header">Parallax</h2>
            <a class="waves-effect red btn">CONTENT BUTTON</a>
            <p class="white-text">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
    </div>


